In [1]:
import pandas as pd
import numpy as np
import sys
import os
import sklearn.preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import sklearn.linear_model
import sklearn.metrics
import matplotlib.pyplot as plt
import seaborn as sns

#### The insights I am looking for :
1. How effective are various techniques for data reduction (PCA, LDA, etc.)? (Try to gain an intuition about how much of an effect they have on improving the results).

2. How to train a effective model, with so little amount of training data? (Compare them against the Kaggle winners to figure out the differences in approach).

3. Should I bucket the revenues, and approach this more as an categorization problem rather than regression problem? (Figure out if one performs better than the other, and try to infer why?)

## Data Exploration

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
display(df_train.head())
display(df_test.head())

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [3]:
display(df_train.info())
display(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
Id            137 non-null int64
Open Date     137 non-null object
City          137 non-null object
City Group    137 non-null object
Type          137 non-null object
P1            137 non-null int64
P2            137 non-null float64
P3            137 non-null float64
P4            137 non-null float64
P5            137 non-null int64
P6            137 non-null int64
P7            137 non-null int64
P8            137 non-null int64
P9            137 non-null int64
P10           137 non-null int64
P11           137 non-null int64
P12           137 non-null int64
P13           137 non-null float64
P14           137 non-null int64
P15           137 non-null int64
P16           137 non-null int64
P17           137 non-null int64
P18           137 non-null int64
P19           137 non-null int64
P20           137 non-null int64
P21           137 non-null int64
P22           137 non-null int64
P23           137 non-null int64
P24           137 non-null int64
P25           137 non-null int64
P26           137 non-null float64
P27           137 non-null float64
P28           137 non-null float64
P29           137 non-null float64
P30           137 non-null int64
P31           137 non-null int64
P32           137 non-null int64
P33           137 non-null int64
P34           137 non-null int64
P35           137 non-null int64
P36           137 non-null int64
P37           137 non-null int64
revenue       137 non-null float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
Id            100000 non-null int64
Open Date     100000 non-null object
City          100000 non-null object
City Group    100000 non-null object
Type          100000 non-null object
P1            100000 non-null int64
P2            100000 non-null float64
P3            100000 non-null float64
P4            100000 non-null float64
P5            100000 non-null int64
P6            100000 non-null int64
P7            100000 non-null int64
P8            100000 non-null int64
P9            100000 non-null int64
P10           100000 non-null int64
P11           100000 non-null int64
P12           100000 non-null int64
P13           100000 non-null float64
P14           100000 non-null int64
P15           100000 non-null int64
P16           100000 non-null int64
P17           100000 non-null int64
P18           100000 non-null int64
P19           100000 non-null int64
P20           100000 non-null int64
P21           100000 non-null int64
P22           100000 non-null int64
P23           100000 non-null int64
P24           100000 non-null int64
P25           100000 non-null int64
P26           100000 non-null float64
P27           100000 non-null float64
P28           100000 non-null float64
P29           100000 non-null float64
P30           100000 non-null int64
P31           100000 non-null int64
P32           100000 non-null int64
P33           100000 non-null int64
P34           100000 non-null int64
P35           100000 non-null int64
P36           100000 non-null int64
P37           100000 non-null int64
dtypes: float64(8), int64(30), object(4)
memory usage: 32.0+ MB

None

## Data Visualization

## Data Preparation

Here, I'll be doing the following
* Remove the id column, and any other redundant column, I identify during the Data Visualization and preliminary data exploration.
* Convert the date column into date time index, and (if I decide so) add seperate columns for year and month.
* Try to perform PCA on the 37 columns given (P1 - P37), and see if the dimensionality can be reduced.
* Standardize the data by both the scalers function (Standard and MinMax Scaler function)
* Discretize the revenue column, and approach this problem as a classification problem

## Model Training

## Plot Results